name: simrag-reproduction
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip
  - cudatoolkit=11.8
  - pytorch=2.0.0
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - pip:
    - -r requirements.txt
